<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">

        <link type="text/css" href=".assets/css/style.css">
    </head>

    <body>
        <a href="/">Home</a> |
        <a href="/about">About me</a> |
        <a href="/projects">My projects</a> |
        <a href="/blog">Blog</a> |
        <a href="/contact">Contact</a>

        <br>
        <br>
        {% block page_content %}
        {% endblock page_content %}


    </body>
</html>